/*
Theme Name: Total Child
Theme URI: https://hashthemes.com/wordpress-theme/total/
Author: Hash Themes
Author URI: https://hashthemes.com
Description: Total as its name suggest is a complete package theme with all the feature that you need to make a complete website. The theme has clean and elegant design with vibrant color(Theme Color Changable Option) and parallax sections. The home page consist of slider, featured section with icon, about us section with progress bar, portfolio section with masonary layout, team section, testimonial section, counter section, blog section with option to add 3, 6 or 9 blog posts, clients logo carousel slider and call to action section. The theme is fully responsive and is built on customizer that enable you to configure the website with live preview. The theme is SEO friendly, Cross browser compatible, fully translation ready and is compatible with WooCommerce and all other major plugins. DEMO: http://demo.hashthemes.com/total/
Version: 1.1.8.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: total
Text Domain: total-child
Tags: two-columns, right-sidebar, custom-background, custom-menu, editor-style, featured-images, footer-widgets, theme-options, threaded-comments, translation-ready, portfolio, photography, holiday, custom-logo
*/

<style type="text/css">
.custom {
	font-family: "Trebuchet MS";
	color: black;
	font-size: 40px;
}

.ht-site-title {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 0 0 4px;
    letter-spacing: 0.5px;
    text-transform: none;
    font-size: 32px;
    line-height: 1;
}
.ht-site-description {
    color: #6b6b6b;
    margin: 0;
    font-size: 16px;
    font-style: italic;
    line-height: 1;
}

</style>